.menu {
    padding: 10px;
    background-color: rgba(0,0,0,.1);
    display: flex;
}

.menu img {
    height: 30px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 10px
}